@using CrescentIsland.Website.Models
@model Avatar

@{
    <div class="col-sm-2">
        <div class="avatar-selection">
            <img src="~/Assets/Images/Avatars/@Model.ImageUrl" data-filename="@Model.ImageUrl" />
        </div>
    </div>
}