@{
    ViewBag.Title = "Start Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="frontpage-logo">
            <img src="~/Assets/Images/ci-logo-normal.png" />
        </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="frontpage-intro">
            <p>
                At the top menu, you can find your character information such as HP and Energy. To change your account settings, click your avatar or username. The Character link takes you to page where you can see more detailed information about your character. Lastly the Inventory link takes you to your inventory and equipment, where you can change equipment as well.
            </p>
            <p>
                You can start fighting monsters by clicking the battle button to your left. There are links to various stores as well.
            </p>
            <p>
                Please enjoy!
            </p>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>