@{
    ViewBag.Title = "Axebeard's Anvil";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="text-center">@ViewBag.Title</h2>
        <h3>Weapons</h3>
        <div class="btn btn-default buyitem" data-id="5">Buy Asura (20 gold)</div>
        <div class="btn btn-default buyitem" data-id="4">Buy Chakmak (20 gold)</div>
        <h3>Armors</h3>
        <div class="btn btn-default buyitem" data-id="8">Buy Hunter Cap (15 gold)</div>
        <div class="btn btn-default buyitem" data-id="6">Buy Iron Armor (20 gold)</div>
        <h3>Accessories</h3>
        <div class="btn btn-default buyitem" data-id="7">Buy Bone Necklace (10 gold)</div>
        <h3>Items</h3>
        <div class="btn btn-default buyitem" data-id="1">Buy Red Potion (6 gold)</div>
        <div class="btn btn-default buyitem" data-id="3">Buy Purple Potion (1000 gold)</div>
    </div>
    <div class="col-xs-2"></div>
</div>