@{
    ViewBag.Title = "The Last Spell";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="col-xs-2"></div>
</div>