@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div>
            <p class="text-center">
                Your password has been reset. 
                @if (!Request.IsAuthenticated)
                {
                    <text>Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</text>
                }
            </p>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
