body {
    font-family: @font-family;
    font-size: @base-font-size;
    background-color: @black;
}

ul, li {
    list-style: none;
}

header
{
    background-color: #42c5be;
    
    #nav-top {
        .nav-login {
            float: right;

            li {
                display: inline-block;
                
                a {
                    display: block;
                    padding: 0 15px;
                    line-height: 40px;
                    color: @white;

                }
            }
        }
    }
}
    
.body-content{
    background-color: #323232;
    min-height: 400px;
}