#main {
    display: block;
    width: 100%;
    border-left: solid 1px @light-gray;
    border-right: solid 1px @light-gray;

    .equal-row {

        .equal-col {
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            overflow: visible !important;

            &.col-lg-2 {
                padding-right: 0;
            }
            &.col-lg-10 {
                padding-left: 0;
            }
        }
    }

    .body-content {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #323232;
        padding: 40px 0;

        .frontpage-logo {
            width: 100%;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        .frontpage-intro {
            padding: 20px 0;

            ul, li {
                list-style: disc;
                list-style-position: inside;
            }
            ul {
                padding-left: 30px;
            }
            h1 {
                margin-top: 0;
            }
        }

        .manage-index {
            .row {
                margin-bottom: 15px;
            }
        }

        .manage-verify {
            font-size: 12px;
        }

        .manage-avatar {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .current-avatar img, .selected-avatar img {
            max-width: 100%;
            height: auto;
            margin: 15px 0 20px;
        }
        .selected-avatar {
            display: none;
        }

        .change-avatar {
            max-height: 300px;
            overflow-y: scroll;
        }

        .avatar-selection {
            padding: 15px;
            margin-bottom: 15px;

            &.selected {
                padding: 13px;
                border: solid 2px @light-teal;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        #registerForm {
            padding-bottom: 60px;
        }

        .birthday {
            .row {
                margin-left: -7px;
                margin-right: -7px;

                .col-xs-12, .col-lg-4 {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }

            .form-control {
                padding: 6px;
                margin-bottom: 14px;

                option {
                    color: @dark-gray;
                }

                &.first-option {
                    color: @gray;
                }
            }
        }

        .form-row {
            margin-bottom: 15px;
        }
        .form-control:focus {
            border-color: @light-teal;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(66, 197, 190, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66, 197, 190, 0.6);
        }

        .class-selection {
            float: left;
            width: 100%;
            margin-bottom: 25px;

            .class-button {
                display: block;
                width: 100%;
                height: 50px;
                padding: 10px;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                &.selected {
                    padding: 8px 6px 4px 6px;
                    border: solid 2px @light-teal;
                }
            }

            input {
                display: none;
            }
        }

        .class-selected {
            float: left;
            width: 100%;
            text-align: center;

            > div {
                display: none;

                &.selected {
                    display: inline-block;
                }
            }
        }

        .radio-button label, .radio-button input {
            cursor: pointer;
        }
        .checkbox {
            margin-bottom: 20px;

            input[type="checkbox"] {
                margin-left: 0;
            }
            label {
                padding-left: 30px;
            }
        }
    }

    &.no-menu {
        .equal-row {
            .equal-col {
                @media (min-width: 768px) {
                    &.col-sm-4 {
                        width: 0;
                        padding: 0;
                    }
                    &.col-sm-8 {
                        padding-left: 15px;
                        width: 100%;
                    }
                }
                @media (min-width: 992px) {
                    &.col-md-3 {
                        width: 0;
                        padding: 0;
                    }
                    &.col-md-9 {
                        padding-left: 15px;
                        width: 100%;
                    }
                }
                @media (min-width: 1200px) {
                    &.col-lg-2 {
                        width: 0;
                        padding: 0;
                    }
                    &.col-lg-10 {
                        padding-left: 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
}