#main {
    .body-content {
        /* Register Page */
        #registerForm {
            padding-bottom: 60px;
        }

        .class-selection {
            float: left;
            width: 100%;
            margin-bottom: 25px;

            .class-button {
                display: block;
                width: 100%;
                height: 50px;
                padding: 10px;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                &.selected {
                    padding: 8px 6px 4px 6px;
                    border: solid 2px @light-teal;
                }
            }

            input {
                display: none;
            }
        }

        .class-selected {
            float: left;
            width: 100%;
            text-align: center;

            > div {
                display: none;

                &.selected {
                    display: inline-block;
                }
            }
        }


        /* Front Page */
        .frontpage-logo {
            width: 100%;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        .frontpage-intro {
            padding: 20px 0;

            ul, li {
                list-style: disc;
                list-style-position: inside;
            }
            ul {
                padding-left: 30px;
            }
            h1 {
                margin-top: 0;
            }
        }


        /* Manager User Menu */
        .manage-menu {
            .manage-menu-item {
                text-align: center;
                -webkit-border-radius: 5px;
	            -moz-border-radius: 5px;
	            border-radius: 5px;
                border: solid 1px @dark-teal;

                &.selected {
                    background-color: @white;

                    a {
                        color: @dark-teal;
                    }
                }

                a {
                    display: inline-block;
                    color: @white;
                    width: 100%;
                    padding: 5px 10px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }


        /* Manage User Pages */
        .account-info-page {
            .manage-verify {
                font-size: 12px;
            }

            .biography {
                .sprite-icon {
                    position: absolute;
                    top: -28px;
                    left: 15px;
                    cursor: help;

                    .biography-info {
                        display: none;
                    }
                }
            }
        }

        .account-avatar-page {
            .manage-avatar {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .current-avatar img, .selected-avatar img {
                max-width: 100%;
                height: auto;
                margin: 15px 0 20px;
            }
            .selected-avatar {
                display: none;
            }

            .change-avatar {
                max-height: 300px;
                overflow-y: scroll;
            }

            .avatar-selection {
                padding: 15px;
                margin-bottom: 15px;

                &.selected {
                    padding: 13px;
                    border: solid 2px @light-teal;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .account-settings-page {
            .btn {
                margin-top: 10px;
            }

            .switch-checkbox {
	            width: 80px;
	            height: 26px;
	            background: @white;
	            position: relative;

                -webkit-border-radius: 5px;
	            -moz-border-radius: 5px;
	            border-radius: 5px;

	            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
	            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
	            box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);

                input {
                    display: none;
                }

                &:after {
	                content: 'NO';
	                font-size: 12px;
                    line-height: 26px;
                    color: @gray;
	                position: absolute;
	                right: 10px;
	                z-index: 0;
	                font-weight: bold;
	                text-shadow: 1px 1px 0 rgba(255,255,255,.15);
                }

                &:before {
	                content: 'YES';
	                font-size: 12px;
                    line-height: 26px;
	                color: @black;
	                position: absolute;
	                left: 10px;
	                z-index: 0;
	                font-weight: bold;
                }

                label {
	                display: block;
	                width: 34px;
	                height: 20px;

	                -webkit-border-radius: 5px;
	                -moz-border-radius: 5px;
	                border-radius: 5px;

	                -webkit-transition: all .4s ease;
	                -moz-transition: all .4s ease;
	                -o-transition: all .4s ease;
	                -ms-transition: all .4s ease;
	                transition: all .4s ease;
	                cursor: pointer;
	                position: absolute;
	                top: 3px;
	                left: 3px;
	                z-index: 1;

	                -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	                -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	                background: #fcfff4;

	                background: -webkit-linear-gradient(top, @light-teal 0, @light-teal 40%, @dark-teal 100%);
	                background: -moz-linear-gradient(top, @light-teal 0, @light-teal 40%, @dark-teal 100%);
	                background: -o-linear-gradient(top, @light-teal 0, @light-teal 40%, @dark-teal 100%);
	                background: -ms-linear-gradient(top, @light-teal 0, @light-teal 40%, @dark-teal 100%);
                    background-color: @light-teal;
	                background-image: linear-gradient(to bottom, @light-teal 0, @light-teal 40%, @dark-teal 100%);
	                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@light-teal, endColorstr=@dark-teal,GradientType=0 );
                }

                input[type=checkbox]:checked + label {
	                left: 43px;
                }
            }
        }


        /* Character Page */
        .character-page {
            h2 {
                color: @light-teal;
                margin-bottom: 50px;
            }
            h5 {
                color: @light-teal;
                margin-bottom: 0px;
            }
            .value-hidden {
                color: @gray;
            }
            .biography {
                margin-top: 3px;
                max-height: 150px;

                a {
                    color: @gray;
                    
                    &:hover {
                        color: @white;
                        text-decoration: underline;
                    }
                }

                .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical,
                .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
                    margin: 0;
                }
            }

            .character-class {
                text-align: right;

                @media (max-width: 1199px) {
                    text-align: center;
                }
            }

            .character-stats-row {
                margin-bottom: 5px;

                &.extra-margin {
                    margin-bottom: 15px;
                }

                .character-stats-name {
                    cursor: help;
                }

                .character-stats-info {
                    display: none;
                }
            }
        }
    }
}