#main {
    #sidebar {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 15px 15px -15px @black;
        color: @black;

        .right-shadow {
            display: block;
            width: 100%;
            height: 100%;
            padding: 3px 0 25px;
            box-shadow: inset -15px 0 15px -15px @black;
        }

        .hide-menu {
            float: left;
            width: 100%;
            padding-bottom: 5px;
            font-size: 28px;

            a {
                display: block;
                float: right;
                padding: 0 15px;

                i {
                    -webkit-transition: all 500ms ease-out;
                    -o-transition: all 500ms ease-out;
                    transition: all 500ms ease-out;
                }
            }
        }

        &.rotate {
            .hide-menu {
                a {
                    i {
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .battle {
            width: 100%;
            padding: 0 15px;
            margin: 10px 0 20px;
        }

        a {
            color: @dark-teal;

            &:hover {
                color: @black;
            }
        }

        h3 {
            font-size: 20px;
            padding: 0 15px;
            margin: 0;
        }

        ul {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 40px;

            li {
                a {
                    display: block;
                    padding: 7px 0;
                }
            }
        }

        .chatbox {
            float: left;
            width: 100%;
            position: relative;
            padding: 0 15px;
            margin-bottom: 25px;
            z-index: 50;

            .message-box {
                color: @black;
                height: 150px;
                overflow-y: scroll;
                font-size: 12px;
                margin-bottom: 15px;

                .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical,
                .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
                    margin: 0;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        margin-bottom: 5px;
                    }
                }
            }

            .type-box {
                position: relative;

                #message {
                    height: 28px;
                    padding: 3px 34px 3px 6px;
                }

                #sendmessage {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 24px;
                    margin: 2px 6px 0 0;
                    cursor: pointer;
                }
            }
        }
    }

    #hiddenSidebar {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: @white;
        width: 20px;
        left: 15px;
        top: 0;
        box-shadow: inset 0 15px 15px -15px @black;
        z-index: 100;

        .right-shadow {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: inset -15px 0 15px -15px @black;
        }

        .hide-menu {
            float: left;
            width: 100%;
            padding-bottom: 5px;
            font-size: 28px;

            a {
                display: block;
                width: 100%;
                float: right;
                text-align: center;
                color: @dark-teal;

                &:hover {
                    color: @black;
                }

                i {
                    -webkit-transition: all 500ms ease-out;
                    -o-transition: all 500ms ease-out;
                    transition: all 500ms ease-out;
                }
            }
        }

        &.rotate {
            .hide-menu {
                a {
                    i {
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}