.sprite-icon {
    background-image: url("/Assets/Images/icon-set.png");
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}

.sprite-icon-character {
    background-position: -216px -264px;
}

.sprite-icon-bag {
    background-position: 0 -288px;
}

.sprite-icon-medal {
    background-position: -336px -144px;
}

.sprite-icon-redpotion {
    background-position: -24px -144px;
}

.sprite-icon-bread {
    background-position: -240px -312px;
}