.sprite-icon {
    background-image: url("/Assets/Images/icon-set.png");
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: sub;
}

.sprite-icon-character {
    background-position: -216px -264px;
}

.sprite-icon-bag {
    background-position: 0 -288px;
}

.sprite-icon-medal {
    vertical-align: middle;
    background-position: -336px -144px;
}

.sprite-icon-redpotion {
    background-position: -24px -144px;
}

.sprite-icon-bread {
    background-position: -240px -312px;
}

.sprite-icon-openbook {
    background-position: -120px -408px;
}

.sprite-icon-thinkbubble {
    background-position: -72px -240px;
}

.sprite-icon-knuckle {
    background-position: -96px -264px;
}

.sprite-icon-knife {
    background-position: -240px 0;
}

.sprite-icon-knife2 {
    background-position: -192px 0;
}

.sprite-icon-knife3 {
    vertical-align: middle;
    background-position: -216px 0;
}

.sprite-icon-katana {
    vertical-align: middle;
    background-position: -264px 0;
}

.sprite-icon-axe {
    background-position: -312px -24px;
}

.sprite-icon-axe2 {
    background-position: -360px -24px;
}

.sprite-icon-spear {
    background-position: 0 -24px;
}

.sprite-icon-spear2 {
    background-position: -24px -24px;
}

.sprite-icon-spear3 {
    background-position: -48px -24px;
}

.sprite-icon-staff {
    background-position: -168px -24px;
}

.sprite-icon-staff2 {
    background-position: -192px -24px;
}

.sprite-icon-staff3 {
    background-position: -216px -24px;
}

.sprite-icon-staff4 {
    background-position: -240px -24px;
}

.sprite-icon-gun {
    background-position: -288px -48px;
}

.sprite-icon-gun2 {
    background-position: -312px -48px;
}

.sprite-icon-gun3 {
    background-position: -336px -48px;
}