<div class="chatbox">
    <div class="message-box">
        <ul id="discussion">
            
        </ul>
    </div>
    <div class="type-box">
        <div id="sendmessage">
            <span class="sprite-icon sprite-icon-thinkbubble"></span>
        </div>
        <input type="text" id="message" class="form-control" />
        <input type="hidden" id="displayname" />
    </div>
</div>
