@{
    ViewBag.Title = "Confirm Email";
}

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div>
            <p class="text-center">
                Thank you for confirming your email.
                @if (!Request.IsAuthenticated)
                {
                    <text>Please @Html.ActionLink("Click here to Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</text>
                }
            </p>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
